<div *ngIf="responseData !== undefined && totalQuestions !== undefined" class="result-container">
  <h2 class="honk-font large-text" *ngIf="responseData > totalQuestions * 0.6">Congrats</h2>
  <h2 class="honk-font large-text" *ngIf="!(responseData > totalQuestions * 0.6)">Good luck next time</h2>

  <p class="score">Score: {{ responseData }} / {{ totalQuestions }}</p>

  <button *ngIf="responseData > totalQuestions * 0.6" class="pdf-button" (click)="generatePDF()">Download PDF</button>

  <div *ngIf="responseData > totalQuestions * 0.6" #certificateElement class="certificate">
    <h2>Certificate of Completion</h2>
    <p>This certificate is awarded to after a great effort to complete his test and the honor to have a certificat from courzelo :</p>
    <p><strong>{{ userId }}</strong></p>
    <p>for successfully completing the quiz:</p>
    <p><strong>{{ quizTitle }}</strong></p>
  </div>
</div>
