<div class="dashboard-container">
  <h1>Welcome to Methodology Dashboard</h1>
  <p>We will be using Kolb Structure</p>
  <div class="stepper">
    <form [formGroup]="createMethodeForm" (ngSubmit)="createMethode()">
      <nb-stepper orientation="horizontal">
        <nb-step label="Introduction">
          <div class="section">
            <h2>Introduction:</h2>
            <angular-editor [placeholder]="'Enter text here...'" formControlName="introduction" [config]="editorConfig"></angular-editor>
          </div>
        </nb-step>
        <nb-step label="How">
          <div class="section">
            <h2>How:</h2>
            <angular-editor [placeholder]="'Enter text here...'" formControlName="how" [config]="editorConfig"></angular-editor>
          </div>
        </nb-step>
        <nb-step label="Why">
          <div class="section">
            <h2>Why:</h2>
            <angular-editor [placeholder]="'Enter text here...'" formControlName="why" [config]="editorConfig"></angular-editor>
          </div>
        </nb-step>
        <nb-step label="What">
          <div class="section">
            <h2>What:</h2>
            <angular-editor [placeholder]="'Enter text here...'" formControlName="what" [config]="editorConfig"></angular-editor>
          </div>
        </nb-step>
        <nb-step label="What if">
          <div class="section">
            <h2>What if:</h2>
            <angular-editor [placeholder]="'Enter text here...'" formControlName="what_if" [config]="editorConfig"></angular-editor>
            <button type="submit">
              <div class="svg-wrapper-1">
                <div class="svg-wrapper">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    width="30"
                    height="30"
                    class="icon"
                  >
                    <path
                      d="M22,15.04C22,17.23 20.24,19 18.07,19H5.93C3.76,19 2,17.23 2,15.04C2,13.07 3.43,11.44 5.31,11.14C5.28,11 5.27,10.86 5.27,10.71C5.27,9.33 6.38,8.2 7.76,8.2C8.37,8.2 8.94,8.43 9.37,8.8C10.14,7.05 11.13,5.44 13.91,5.44C17.28,5.44 18.87,8.06 18.87,10.83C18.87,10.94 18.87,11.06 18.86,11.17C20.65,11.54 22,13.13 22,15.04Z"
                    ></path>
                  </svg>
                </div>
              </div>
              <span>Save</span>
            </button>
          </div>
        </nb-step>
      </nb-stepper>
    </form>
  </div>
</div>
