<div class="app-header" style="margin-top: 100px; margin-left: -200px; margin-bottom: 100px;">
<div class="container">
    <!-- Display list of quizzes -->
    <div *ngFor="let quiz of quizzes" class="quiz-item">
      <div class="quiz-card">
        <h3 (click)="selectQuiz(quiz)">{{ quiz.title }}</h3>
        <div *ngIf="selectedQuiz?._id === quiz._id">
          <!-- Display details of selected quiz -->
          <div class="quiz-details">
            <p>category: {{ quiz.category }}</p>
       
          </div>
          <!-- Display questions for selected quiz -->
          <div *ngIf="questions.length > 0" class="question-list">
            <h4>Questions </h4>
            <ol>
              <li *ngFor="let question of questions">{{ question.questionTitle }}</li>
            </ol>
          </div>
          <div *ngIf="questions.length === 0" class="no-questions">No questions available for this quiz.</div>
        </div>
      </div>
    </div>
    <div *ngIf="quizzes.length === 0" class="no-quizzes">No quizzes available.</div>
  </div>
</div>