<form (ngSubmit)="onSubmit()" #userStoryForm="ngForm">
    <div>
      <label>Title:</label>
      <input [(ngModel)]="selectedUserStory.title" name="title" required #title="ngModel" />
      <div *ngIf="title.invalid && title.touched">Title is required.</div>
    </div>
    <div>
      <label>Description:</label>
      <textarea [(ngModel)]="selectedUserStory.description" name="description" required #description="ngModel"></textarea>
      <div *ngIf="description.invalid && description.touched">Description is required.</div>
    </div>
    <div>
      <label>Task ID:</label>
      <input [(ngModel)]="selectedUserStory.taskId" name="taskId" required #taskId="ngModel" />
      <div *ngIf="taskId.invalid && taskId.touched">Task ID is required.</div>
    </div>
    <div class="button-container">
      <button type="submit" [disabled]="userStoryForm.invalid">Submit</button>
      <button type="button" (click)="clearSelection()">Clear Selection</button>
    </div>
  </form>
  
  <ul>
    <li *ngFor="let userStory of userStories">
      {{userStory.title}} - {{userStory.description}}
      <button (click)="selectUserStory(userStory)">Edit</button>
      <button (click)="deleteUserStory(userStory.id)">Delete</button>
    </li>
  </ul>
  