<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quizz Wizard</title>
</head>

<body>

<!-- Breadcrumb Area -->
<div class="breadcrumb-area bg-overlay">
  <div class="container">
    <div class="breadcrumb-inner">
      <div class="section-title mb-0 text-center">
        <h2 class="page-title" style="font-size: 4.5em;">Start Quiz</h2>
      </div>
    </div>
  </div>

  <div class="wrapper">
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="shadow"></div>
    <div class="shadow"></div>
    <div class="shadow"></div>
</div>
</div>


<div class="start-quiz-container">
  <div class="start-quiz-item" *ngFor="let quiz of quizzes">
    <div class="start-quiz-content">
      <h2 class="start-quiz-title">{{ quiz.title }}</h2>
      <h1 class="start-quiz-description">Number of Questions {{ quiz.numQ }}</h1>
    </div>
    <button mat-raised-button color="primary" class="start-quiz-button" (click)="selectedQuizz = quiz; navigateToQuizzPage()">Start Quiz</button>
  </div>
</div>



</body>
</html>
