<div>
    <h2>Quiz Statistics</h2>
    <div *ngIf="quizzes && quizzes.length > 0">
        <select [(ngModel)]="selectedQuiz" (change)="fetchQuizStatistics()">
            <option *ngFor="let quiz of quizzes" [value]="quiz._id">{{ quiz.title }}</option>
        </select>
    </div>

    <div *ngIf="quizStatistics">
        <p>Average Score: {{ quizStatistics.averageScore }}</p>
        <p>Max Score: {{ quizStatistics.maxScore }}</p>
        <p>Min Score: {{ quizStatistics.minScore }}</p>
    </div>
    <div>
        <canvas id="quizChart" width="400" height="400"></canvas>
    </div>
</div>
