<div class="breadcrumb-area bg-overlay" style="background-image:url('assets/img/bg/3.png')">
    <div class="container">
      <div class="breadcrumb-inner">
        <div class="section-title mb-0 text-center">
          <h2 class="page-title">quizzes</h2>
          <ul class="page-list">
            <li><a routerLink="" href="index.html">Home</a></li>
            <li>quizzes</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
    <nav>
        <ul>
          <li><a routerLink="/pages/quizl" class="nav-link">Quiz List</a></li>
          <li><a routerLink="/pages/newQuiz" class="nav-link">Create New Quiz</a></li>
          <li><a routerLink="/pages/newQuestion" class="nav-link">Create New Question</a></li>
          <li><a routerLink="/pages/quizaffiche" class="nav-link">Quiz Questions</a></li>
          <li><a routerLink="/pages/questionaffiche" class="nav-link">Question Affiche</a></li>
          <li><a routerLink="/pages/quizstat" class="nav-link">Quiz Statistics</a></li>
          <li><a routerLink="/pages/quizsched" class="nav-link">Quiz Scheduling</a></li>
          <li><a routerLink="/pages/calend" class="nav-link">Calendrier</a></li>


        </ul>
    </nav>
  