<div class="breadcrumb-area bg-overlay" style="background-image:url('assets/img/bg/3.png')">
    <div class="container">
      <div class="breadcrumb-inner">
        <div class="section-title mb-0 text-center">
          <h2 class="page-title">quizzes</h2>
          <ul class="page-list">
            <li><a routerLink="" href="index.html">Home</a></li>
            <li>quizzes</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
    <nav>
        <ul>
          <li><a routerLink="/pages/quizl" class="nav-link">Quiz List</a></li>
          <li><a routerLink="/pages/newQuiz" class="nav-link">Create New Quiz</a></li>
          <li><a routerLink="/pages/newQuestion" class="nav-link">Create New Question</a></li>
          <li><a routerLink="/pages/quizaffiche" class="nav-link">Quiz Questions</a></li>
          <li><a routerLink="/pages/questionaffiche" class="nav-link">Question Affiche</a></li>
          <li><a routerLink="/pages/quizstat" class="nav-link">Quiz Statistics</a></li>
          <li><a routerLink="/pages/quizsched" class="nav-link">Quiz Scheduling</a></li>
          <li><a routerLink="/pages/calend" class="nav-link">Calendrier</a></li>


        </ul>
    </nav>
  


<div class="forum-area" style="margin-top: 50px; margin-left: -200px; margin-bottom: 100px;">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <hr />
                <div class="create-post-container">
                    <form class="post-form" [formGroup]="createQuizForm" (ngSubmit)="createQuiz()">
                        <div class="form-group">
                            <div class="create-post-heading">Create Quiz</div>
                            <hr />
                            <input type="text" formControlName="title" class="form-control" style="margin-top: 5px"
                                placeholder="Title">

                            <input type="text" formControlName="category" class="form-control" style="margin-top: 5px"
                                placeholder="Category">

                            <input type="number" formControlName="numQ" class="form-control" style="margin-top: 5px"
                                placeholder="Number of Questions">

                            <div style="margin-top: 20px" class="text-right">
                            </div>
                        </div>
                        <span>
                            <div style="margin-top: 4px" class="float-right">
                                <button class="btn btn-default">Discard</button>


                                <button class="btn btn-default">Create Quiz</button>
                            </div>
                        </span>
                    </form>
                </div>
            </div>
            <div class="col-md-3">
                <div class="sidebar" style="margin-left: 20px;margin-top: 40px;">
                    <hr />
                    <ul>
                        <li>Remember the human</li>
                        <hr />
                        <li>Behave like you would in real life</li>
                        <hr />
                        <li>Don't spam</li>
                        <hr />
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
