<div class="title-container">
  <h1 class="titlee">Task Management</h1>
</div>
<!-- Stepper Component -->
<nb-stepper [(ngModel)]="currentStep" orientation="horizontal">


  <!-- Step 1: Task List -->
  <nb-step label="Task List">

    <div class="step-container">
      <div class="content-container">
        <div class="header-container">
        <br>
          <h2>Task List</h2>
        <br>
        </div>
        <div class="card">
          <div class="card__header">
            <div class="item">Title</div>
            <div class="item">Start Date</div>
            <div class="item">End Date</div>
            <div class="item">State</div>
            <div class="item">Priority</div>
            <div class="item">Collaborators</div>
            <div class="item">Actions</div>
          </div>
          <div *ngFor="let task of tasks" class="card__row">
            <div class="item">{{task?.title}}</div>
            <div class="item">{{task?.startedAt | date:'short'}}</div>
            <div class="item">{{task?.endedAt | date:'short'}}</div>
            <div class="item">
              <span [ngClass]="{
                  'status-planning': task.state === 'PLANNING',
                  'status-inprogress': task.state === 'IN_PROGRESS',
                  'status-done': task.state === 'DONE',
                  'status-paused': task.state === 'PAUSED',
                  'status-canceled': task.state === 'CANCELED'
                }">
                {{task?.state}}
              </span>
            </div>
            <div class="item">
              <span [ngClass]="{
                  'priority-high': task.priority === 'High',
                  'priority-medium': task.priority === 'Medium',
                  'priority-low': task.priority === 'Low'
                }">
                {{task?.priority}}
              </span>
            </div>
            <div class="item">
              <ul>
                <li *ngFor="let collaborator of task.collaborators">
                  {{collaborator?.name}}
                  <!-- ({{collaborator.email}}) -->
                </li>
              </ul>
            </div>
            <div class="item">
              <button class="button" (click)="selectTask(task)">Edit</button>
              <button class="button" (click)="confirmArchiveTask(task.id)">Archive</button>
            </div>
          </div>
        </div>

        <!-- Success Animation -->
        <div class="success-animation" *ngIf="showSuccessarchive">
          <div class="success-box">
            <div class="success-icon">
              <!-- You can use an SVG or a checkmark icon here -->
              &#10003;
            </div>
            <div class="success-message">
              task archived successfully!
            </div>
          </div>
        </div>

        <!-- Success Animation -->
        <div class="success-animation" *ngIf="showSuccessedittask">
          <div class="success-box">
            <div class="success-icon">
              <!-- You can use an SVG or a checkmark icon here -->
              &#10003;
            </div>
            <div class="success-message">
              task edited successfully!
            </div>
          </div>
        </div>




        <!-- Popup for editing tasks -->
        <div *ngIf="isEditMode" class="popup">
          <div class="popup-container">
            <span class="close" (click)="closePopup()">&times;</span>
            <div class="popup-header">Edit Task</div>
            <form (ngSubmit)="onSubmit()">
              <div>
                <label>Title:</label>
                <div *ngIf="selectedTask">
                  <input class="popup-input" [(ngModel)]="selectedTask.title" name="title" placeholder="Title"
                    required />
                </div>
              </div>
              <div>
                <label>Description:</label>
                <div *ngIf="selectedTask">
                  <textarea class="popup-input" [(ngModel)]="selectedTask.description" name="description"
                    required></textarea>
                </div>
              </div>
              <div>
                <label>Started At:</label>
                <div *ngIf="selectedTask">
                  <input class="popup-input" type="datetime-local" [(ngModel)]="selectedTask.startedAt" name="startedAt"
                    required />
                </div>
              </div>
              <div>
                <label>Ended At:</label>
                <div *ngIf="selectedTask">
                  <input class="popup-input" type="datetime-local" [(ngModel)]="selectedTask.endedAt" name="endedAt"
                    required />
                </div>
              </div>
              <div>
                <label>State:</label>
                <div *ngIf="selectedTask">
                  <select class="popup-input" [(ngModel)]="selectedTask.state" name="state" required>
                    <option value="IN_PROGRESS">In Progress</option>
                    <option value="DONE">Done</option>
                    <option value="PAUSED">Paused</option>
                    <option value="PLANNING">Planning</option>
                    <option value="CANCELED">Canceled</option>
                  </select>
                </div>
              </div>
              <div>
                <label>Priority:</label>
                <div *ngIf="selectedTask">
                  <select class="popup-input" [(ngModel)]="selectedTask.priority" name="priority" required>
                    <option value="HIGH">High</option>
                    <option value="MEDIUM">Medium</option>
                    <option value="LOW">Low</option>
                  </select>
                </div>
              </div>
              <div>
                <label>Collaborators:</label>
                <div *ngIf="selectedTask">
                  <div *ngFor="let collaborator of selectedTask.collaborators; let i = index">
                    <input class="popup-input" [(ngModel)]="collaborator.name" name="collaboratorName{{i}}"
                      placeholder="Name" required />
                    <input class="popup-input" [(ngModel)]="collaborator.email" name="collaboratorEmail{{i}}"
                      placeholder="Email" required />
                    <button type="button" class="popup-reset" (click)="removeCollaborator(i)">Remove</button>
                  </div>
                </div>
                <button type="button" class="popup-button" (click)="addCollaborator()">Add Collaborator</button>
              </div>
              <div style="text-align: center; margin-top: 20px;">
                <button class="popup-button" type="submit">Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="main-content-wrapper">
        <div class="page-content">
          <!-- Your main content goes here -->
          <div class="step-navigation">
            <button class="buttonsp" nbButton nbStepperNext>Next<span class="icon-right"></span>
              <span class="icon-right after"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </nb-step>




  <!-- Step 2: Create Task -->
  <nb-step label="Create Task">
    <div class="step-container">
      <div class="content-container">
        <div class="header-container">
        <br>
        <h2>Create a task</h2>
        <br>
        </div>

        <!-- Task form for creating new tasks -->
        <form class="form centered-form" *ngIf="!isEditMode" (ngSubmit)="onSubmit()">
          <div class="title">Create Task<br><span>Fill out the details below</span></div>

          <div>
            <input class="input" [(ngModel)]="selectedTask.title" name="title" placeholder="Title" required />
          </div>

          <div>
            <textarea class="input" [(ngModel)]="selectedTask.description" name="description" placeholder="Description"
              required></textarea>
          </div>

          <div>
            <input type="datetime-local" class="input" [(ngModel)]="selectedTask.startedAt" name="startedAt"
              placeholder="Started At" required />
          </div>

          <div>
            <input type="datetime-local" class="input" [(ngModel)]="selectedTask.endedAt" name="endedAt"
              placeholder="Ended At" required />
          </div>

          <div>
            <select class="input" [(ngModel)]="selectedTask.state" name="state" required>
              <option value="IN_PROGRESS">In Progress</option>
              <option value="DONE">Done</option>
              <option value="PAUSED">Paused</option>
              <option value="PLANNING">Planning</option>
              <option value="CANCELED">Canceled</option>
            </select>
          </div>

          <div>
            <select class="input" [(ngModel)]="selectedTask.priority" name="priority" required>
              <option value="HIGH">High</option>
              <option value="MEDIUM">Medium</option>
              <option value="LOW">Low</option>
            </select>
          </div>

          <div>
            <label>Collaborators:</label>
            <br>
            <div *ngFor="let collaborator of selectedTask.collaborators; let i = index">
              <input class="input" [(ngModel)]="collaborator.name" name="collaboratorName{{i}}"
                placeholder="Collaborator Name" required />
              <input class="input" [(ngModel)]="collaborator.email" name="collaboratorEmail{{i}}"
                placeholder="Collaborator Email" required />
              <button type="button" class="button-log" (click)="removeCollaborator(i)">Remove</button>
            </div>
            <button type="button" class="button-log" (click)="addCollaborator()">Add Collaborator</button>
          </div>

          <button type="submit" class="button-confirm">Submit</button>
          <button type="button" class="button-confirm" (click)="clearSelection()">Clear Selection</button>
        </form>




        <!-- Success Animation -->
        <div class="success-animation" *ngIf="showSuccessss">
          <div class="success-box">
            <div class="success-icon">
              <!-- You can use an SVG or a checkmark icon here -->
              &#10003;
            </div>
            <div class="success-message">
              task created successfully!
            </div>
          </div>
        </div>




        <div class="main-content-wrapper">
          <div class="page-content">
            <!-- Your main content goes here -->
            <div class="step-navigation">

              <button class="buttonpp" nbButton nbStepperPrevious>
                <div class="buttonpp-box">
                  <span class="buttonpp-elem">
                    <svg viewBox="0 0 46 40" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z">
                      </path>
                    </svg>
                  </span>
                  <span class="buttonpp-elem">
                    <svg viewBox="0 0 46 40">
                      <path
                        d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z">
                      </path>
                    </svg>
                  </span>
                </div>
              </button>

              <button class="buttonsp" nbButton nbStepperNext>Next<span class="icon-right"></span>
                <span class="icon-right after"></span>
              </button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </nb-step>



















  <!-- Step 3: User Story List -->
  <nb-step label="User-Story List">
    <div class="header-container">
      <br>
      <h2>User-Story List</h2>
      <br>
    </div>

    <!-- Task List -->
    <div class="task-container">
      <div *ngFor="let task of tasks" class="task-card">
        <button class="button-55" role="button" (click)="toggleTaskId(task.id)">{{ task.title }}</button>
      </div>
    </div>

    <!-- User Stories for Selected Task -->
    <div class="user-story-wrapper" *ngIf="currentTaskId">
      <div class="user-story-container" *ngIf="currentTaskId">
        <div *ngFor="let userStory of filteredUserStories" class="user-story-card">
          <h4>{{ userStory.title }}</h4>
          <p>{{ userStory.description }}</p>
          <div class="user-story-actions">
            <button (click)="openEditPopup(userStory)" class="button-55">Edit</button>
            <button (click)="confirmArchiveUserStory(userStory.id)" class="button-55">Archive</button>
          </div>
        </div>
      </div>

    </div>


    <!-- Success Animation -->
    <div class="success-animation" *ngIf="showSuccessarchivestory">
      <div class="success-box">
        <div class="success-icon">
          <!-- You can use an SVG or a checkmark icon here -->
          &#10003;
        </div>
        <div class="success-message">
          user story archived successfully!
        </div>
      </div>
    </div>





    <!-- Edit User Story Popup -->
    <div class="edit-popup" *ngIf="isPopupVisible">
      <div class="edit-popup-content">
        <span class="close-popup" (click)="closeEditPopup()">&#x2715;</span>
        <div class="popup-header">Edit User Story</div>
        <div>
          <input [(ngModel)]="selectedUserStory.title" name="editTitle" required #editTitle="ngModel"
            placeholder="Enter Title" />
          <div *ngIf="editTitle.invalid && editTitle.touched">Title is required.</div>
        </div>
        <div>
          <textarea [(ngModel)]="selectedUserStory.description" name="editDescription" required
            #editDescription="ngModel" placeholder="Enter Description"></textarea>
          <div *ngIf="editDescription.invalid && editDescription.touched">Description is required.</div>
        </div>
        <div class="button-container">
          <button type="submit" [disabled]="!selectedUserStory.title || !selectedUserStory.description"
            class="btn btn-submit" (click)="onUpdate()">Update</button>
        </div>
      </div>
    </div>



    <!-- Success Animation -->
    <div class="success-animation" *ngIf="showSuccesseditstory">
      <div class="success-box">
        <div class="success-icon">
          <!-- You can use an SVG or a checkmark icon here -->
          &#10003;
        </div>
        <div class="success-message">
          user story edited successfully!
        </div>
      </div>
    </div>



    <div class="main-content-wrapper">
      <div class="page-content">
        <!-- Your main content goes here -->
        <div class="step-navigation">

          <button class="buttonpp" nbButton nbStepperPrevious>
            <div class="buttonpp-box">
              <span class="buttonpp-elem">
                <svg viewBox="0 0 46 40" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z">
                  </path>
                </svg>
              </span>
              <span class="buttonpp-elem">
                <svg viewBox="0 0 46 40">
                  <path
                    d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z">
                  </path>
                </svg>
              </span>
            </div>
          </button>

          <button class="buttonsp" nbButton nbStepperNext>Next<span class="icon-right"></span>
            <span class="icon-right after"></span>
          </button>

        </div>
      </div>
    </div>
  </nb-step>



  <!-- Step 4: Create User-Story -->
  <nb-step label="Create User-Story">
    <div class="step-content">
      <div class="header-container">
      <br>
      <h2>Create a user-story</h2>
      <br>
      </div>

      <form class="form centered-form" (ngSubmit)="onSubmitStory()" #userStoryForm="ngForm">
        <div class="title">Create User-Story<br><span>Fill out the details below</span></div>

        <div>
          <input class="input" [(ngModel)]="newUserStory.title" name="title" placeholder="Title" required
            #title="ngModel" />
          <div *ngIf="title.invalid && title.touched">Title is required.</div>
        </div>

        <div>
          <textarea class="input" [(ngModel)]="newUserStory.description" name="description" placeholder="Description"
            required #description="ngModel"></textarea>
          <div *ngIf="description.invalid && description.touched">Description is required.</div>
        </div>

        <div>
          <select class="input" [(ngModel)]="selectedTaskName" name="taskName" required
            (change)="onTaskNameChange($event)">
            <option id="taskSelect" *ngIf="!selectedTaskName" value="" disabled selected hidden>Choose a task</option>
            <option *ngFor="let task of tasks" [value]="task.title">{{task.title}}</option>
          </select>
          <div *ngIf="taskForm.get('taskId')?.invalid && taskForm.get('taskId')?.touched">
            Task is required.
          </div>
        </div>


        <button type="submit" class="button-confirm" [disabled]="userStoryForm.invalid">Submit</button>
        <button type="button" class="button-confirm" (click)="clearForm()">Clear</button>
      </form>
    </div>






    <!-- Success Animation -->
    <div class="success-animation" *ngIf="showSuccess">
      <div class="success-box">
        <div class="success-icon">
          <!-- You can use an SVG or a checkmark icon here -->
          &#10003;
        </div>
        <div class="success-message">
          user-story created successfully!
        </div>
      </div>
    </div>









    <div class="main-content-wrapper">
      <div class="page-content">
        <!-- Your main content goes here -->
        <div class="step-navigation">

          <button class="buttonpp" nbButton nbStepperPrevious>
            <div class="buttonpp-box">
              <span class="buttonpp-elem">
                <svg viewBox="0 0 46 40" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z">
                  </path>
                </svg>
              </span>
              <span class="buttonpp-elem">
                <svg viewBox="0 0 46 40">
                  <path
                    d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z">
                  </path>
                </svg>
              </span>
            </div>
          </button>

          <button class="buttonsp" nbButton nbStepperNext>Next<span class="icon-right"></span>
            <span class="icon-right after"></span>
          </button>
        </div>
      </div>
    </div>

  </nb-step>












  <!-- Step 5: Archive -->
  <nb-step label="Archive">
    <div class="step-content">
      <div class="archived-tasks-container">
        <h2 class="archived-tasks-title">Archived Tasks</h2>
        <br>
        <ul class="archived-tasks-list">
          <li class="archived-task-item button-89" role="button" *ngFor="let task of archivedTasks">
            <div class="task-details">
              <span class="task-title">{{task?.title}}</span>
              <span class="task-description">{{task?.description}}</span>
            </div>
            <div class="task-actions">
              <button class="buttonx-55" role="buttonx" (click)="restoreTask(task.id)">Restore Task</button>
              <button class="buttonx-55" role="buttonx" (click)="deleteTaskPermanently(task.id!)">Delete
                Permanently</button>
            </div>
          </li>
        </ul>
      </div>


      <div class="archived-tasks-container">
        <br>
        <h2 class="archived-user-stories-title">Archived User Stories</h2>
        <br>
        <ul class="archived-tasks-list">
          <li class="archived-task-item button-89" role="button" *ngFor="let userStory of archivedUserStories">
            <div class="task-details">
              <span class="task-title">{{userStory.title}}</span>
            </div>
            <div class="task-actions">
              <button class="buttonx-55" role="buttonx" (click)="restoreUserStory(userStory.id)">Restore User
                Story</button>
              <button class="buttonx-55" role="buttonx" (click)="deleteUserStoryPermanently(userStory.id!)">Delete
                Permanently</button>
            </div>
          </li>
        </ul>
      </div>

      <!-- Success Animation -->
      <div class="success-animation" *ngIf="showSuccessrestoretask">
        <div class="success-box">
          <div class="success-icon">
            <!-- You can use an SVG or a checkmark icon here -->
            &#10003;
          </div>
          <div class="success-message">
            Task restored successfully!
          </div>
        </div>
      </div>

      <!-- Success Animation -->
      <div class="success-animation" *ngIf="showSuccessrestorestory">
        <div class="success-box">
          <div class="success-icon">
            <!-- You can use an SVG or a checkmark icon here -->
            &#10003;
          </div>
          <div class="success-message">
            user story restored successfully!
          </div>
        </div>
      </div>

      <!-- Success Animation -->
      <div class="success-animation" *ngIf="showSuccessdeletetask">
        <div class="success-box">
          <div class="success-icon">
            <!-- You can use an SVG or a checkmark icon here -->
            &#10003;
          </div>
          <div class="success-message">
            Task deleted successfully!
          </div>
        </div>
      </div>

      <!-- Success Animation -->
      <div class="success-animation" *ngIf="showSuccessdeletestory">
        <div class="success-box">
          <div class="success-icon">
            <!-- You can use an SVG or a checkmark icon here -->
            &#10003;
          </div>
          <div class="success-message">
            user story deleted successfully!
          </div>
        </div>
      </div>

      <div class="main-content-wrapper">
        <div class="page-content">
          <div class="step-navigation">
            <button class="buttonpp" nbButton nbStepperPrevious>
              <div class="buttonpp-box">
                <span class="buttonpp-elem">
                  <svg viewBox="0 0 46 40" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z">
                    </path>
                  </svg>
                </span>
                <span class="buttonpp-elem">
                  <svg viewBox="0 0 46 40">
                    <path
                      d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z">
                    </path>
                  </svg>
                </span>
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </nb-step>

</nb-stepper>