<nb-stepper orientation="horizontal">
  <nb-step label="Why">
    <ng-template #labelOne>Why</ng-template>
    <div id="why" class="section">
      <div>
        <h2 class="section-title">Introduction to Feature-Driven Development (FDD)</h2>
        <div class="introduction-text">{{ methode.introduction }}</div>
      </div>
      <br>
      <div *ngIf="isEditingIntroduction">
        <textarea [(ngModel)]="temporaryIntroduction" class="large-textarea"></textarea>
        <button (click)="confirmEditIntroduction()">Save</button>
        <button (click)="cancelEditIntroduction()">Cancel</button>
      </div>
      <div *ngIf="!isEditingIntroduction">
        <button (click)="startEditIntroduction()">Edit Introduction</button>
        <button (click)="deleteIntroduction()">Delete Introduction</button>
      </div>
      <img src="assets/images/fdd_overview2.jpg" alt="Overview of FDD" class="responsive-image">

      <br>
      <div>
        <h2 class="section-title">Advantages and Limitations of FDD</h2>
        <div class="advantages-text">{{ methode.advantages }}</div>
      </div>
      <br>
      <div *ngIf="isEditingAdvantages">
        <textarea [(ngModel)]="temporaryAdvantages" class="large-textarea"></textarea>
        <button (click)="confirmEditAdvantages()">Save</button>
        <button (click)="cancelEditAdvantages()">Cancel</button>
      </div>
      <div *ngIf="!isEditingAdvantages">
        <button (click)="startEditAdvantages()">Edit Advantages / Limitations</button>
        <button (click)="deleteAdvantages()">Delete Advantages / Limitations</button>

      </div>
    </div>
    <br>
    <button nbButton disabled nbStepperPrevious>prev</button>
    <button nbButton nbStepperNext>next</button>
  </nb-step>

  <nb-step label="What">
    <ng-template #labelTwo>What</ng-template>
    <div id="what" class="section">
      <div>
        <h2 class="section-title">What: Key Processes and Practices of Feature-Driven Development</h2>
        <div class="what-text">{{ methode.what }}</div>
        <br>
        <div *ngIf="!isEditingWhat">
          <button (click)="startEditWhat()">Edit What</button>
          <button (click)="deleteWhat()">Delete What</button>

        </div>
  
        <div class="fdd-processes">
          <img src="assets/images/fdd-feature-list.webp" alt="Feature List in FDD" class="responsive-image">
        </div>
      </div>
      <br>
      <div *ngIf="isEditingWhat">
        <textarea [(ngModel)]="temporaryWhat" class="large-textarea"></textarea>
        <button (click)="confirmEditWhat()">Save</button>
        <button (click)="cancelEditWhat()">Cancel</button>
      </div>
    </div>
    <button nbButton nbStepperPrevious>prev</button>
    <button nbButton nbStepperNext>next</button>
  </nb-step>

  <nb-step label="How">
    <div id="how" class="section">
      <div>
        <h2 class="section-title">How: Practical Application of FDD with Examples</h2>
        <h3>Step-by-Step Application</h3>
        <p>Let's explore the practical application of FDD through a step-by-step example of developing an e-commerce application.</p>
        <img src="assets/images/e-commerce.jpg" alt="Overview of FDD" class="ecommerce responsive-image">
      </div>
      <br>
      <div>
        <div class="how-text">{{ methode.how }}</div>
      </div>
      <br>
      <div *ngIf="isEditingHow">
        <textarea [(ngModel)]="temporaryHow" class="large-textarea"></textarea>
        <button (click)="confirmEditHow()">Save</button>
        <button (click)="cancelEditHow()">Cancel</button>
      </div>
      <div *ngIf="!isEditingHow">
        <button (click)="startEditHow()">Edit How</button>
        <button (click)="deleteHow()">Delete How</button>

      </div>
      <br>
      <button nbButton nbStepperPrevious>prev</button>
      <button nbButton nbStepperNext>next</button>
    </div>
  </nb-step>
  

  <nb-step label="What if">
    <div id="what-if" class="section">
      <div>
        <h2 class="section-title">What If: Adaptations of FDD for Different Projects</h2>
        <p>Feature-Driven Development (FDD) is versatile and can be adapted to various types of projects, each with unique requirements and challenges. Here are some scenarios and how FDD can be tailored to fit them:</p>
      </div>
      <br>
      <img src="assets/images/model.jpg" alt="model of FDD" class="model responsive-image">

      <div>
        <div class="what-if-text">{{ methode.whatif }}</div>
      </div>
      <br>
      <div *ngIf="isEditingWhatIf">
        <textarea [(ngModel)]="temporaryWhatIf" class="large-textarea"></textarea>
        <button (click)="confirmEditWhatIf()">Save</button>
        <button (click)="cancelEditWhatIf()">Cancel</button>
      </div>
      <div *ngIf="!isEditingWhatIf">
        <button (click)="startEditWhatIf()">Edit What If</button>
        <button (click)="deleteWhatIf()">Delete What If</button>

      </div>
      <br>
      <button nbButton nbStepperPrevious>prev</button>
      <button nbButton nbStepperNext>next</button>
    </div>
  </nb-step>
    

  <nb-step label="Conclusion">
    <div id="conclusion" class="section">
      <div>
        <h3>Conclusion</h3>
      </div>
      <img src="assets/images/conclusion.jpg" alt="Conclusion of FDD" class="Conclusion responsive-image">
      <br>
      <div>
        <div class="conclusion-text">{{ methode.conclusion }}</div>
      </div>
      <br>
      <div *ngIf="isEditingConclusion">
        <textarea [(ngModel)]="temporaryConclusion" class="large-textarea"></textarea>
        <button (click)="confirmEditConclusion()">Save</button>
        <button (click)="cancelEditConclusion()">Cancel</button>
      </div>
      <div *ngIf="!isEditingConclusion">
        <button (click)="startEditConclusion()">Edit Conclusion</button>
        <button (click)="deleteConclusion()">Delete Conclusion</button>

      </div>
      <br>
      <button nbButton nbStepperPrevious>prev</button>
      <button nbButton disabled nbStepperNext>next</button>
    </div>
  </nb-step>
</nb-stepper>
